node_modules
ios/Vasern.xcodeproj/xcuserdata

# plugins currently unavailable
vasern/src/plugins/vasern-auth
vasern/src/plugins/vasern-server-sync

# exclude builds and bundles
android/android.iml
android/.idea
android/local.properties
android/build
android/.gradle

examples/*/android/.gradle


Dockerfile
docker-compose.yml
.dockerignore

coverage
*.xcuserstate
website_